#
# Example ssh.cfg for jumphost
# Change User and IdentityFile(s) as necessary
#

Host control
  Hostname bastion.3tier-00.example.opentlc.com
  User devops

Host *.internal
  User ec2-user
  ProxyJump control


Match User ec2-user
  IdentityFile ~/.ssh/3tier-00key.pem

Host *
  User devops
  IdentityFile ~/.ssh/id_rsa
  ForwardAgent yes
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null 
